name: Terraform CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    terraform:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3

            - name: Terraform Format
              working-directory: terraform/envs/dev
              run: terraform fmt -check

            - name: Terraform Init
              working-directory: terraform/envs/dev
              run: terraform init -backend=false

            - name: Terraform Validate
              working-directory: terraform/envs/dev
              run: terraform validate
